body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 
.postButtons{
   position:fixed;
   left:50%;
   top:50%;
   transform:translate(-50%, 0);
}
.postButtons button{
   background-color:orange;
   border:2px solid white; 
   border-radius:10px;
   font-weight:bold; 
   padding:10px; 
}
.postButtons button:hover{
   background-color:green;
   color:white;
   cursor: pointer;
}

                                 
