.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.blogContent{
    margin:100px 25px 25px 25px;
    word-spacing:3px; 
}
.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
.blogContent{
    margin:100px 25px 25px 25px;
    word-spacing:3px; 
}
#editPost{
    float:right;
}
.allButtons{
    background-color:#D90A52;
    border:none;
    color:white;
    font-size:15px;
    padding:10px;
    font-weight:bold; 
    box-shadow: 0px 10px 10px #F1948A;
    cursor: pointer;
    height:auto;
}
#like{
    box-shadow: 10px 0px 10px #F1948A;
    margin-bottom:10px;
}

